<!-- <p>rm-dashboard works!</p> -->

<div class="container px-1">
    <div class="page-header">
        <h3 class="pageheader-title pageheader-color">Sales Planning Executions</h3>
    </div>
    <hr>

    <div class="cards">
        <div class="stcard" style="background-color: dodgerblue;">
            <div class="mb-3 fw-bold"><i class="fa fa-hand-o-right me-2" aria-hidden="true"></i>Total Visit</div>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
            </div>
            <div>
                <div class="row">
                    <p class="col">Target : </p>
                    <p class="col">Actual : </p>
                </div>
                <p class="mb-1">% Achievement : </p>
            </div>
        </div>
    
        <div class="stcard" style="background-color: #7734eb;">
            <div class="mb-3 fw-bold"><i class="fa fa-hand-o-right me-2" aria-hidden="true"></i>New Lead Visit</div>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
            </div>
            <div>
                <div class="row">
                    <p class="col">Target : </p>
                    <p class="col">Actual : </p>
                </div>
                <p class="mb-1">% Achievement : </p>
            </div>
        </div>
    
        <div class="stcard" style="background-color: #eb3474;">
            <div class="mb-3 fw-bold"><i class="fa fa-hand-o-right me-2" aria-hidden="true"></i>Existing Retailer Visit</div>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
            </div>
            <div>
                <div class="row">
                    <p class="col">Target : </p>
                    <p class="col">Actual : </p>
                </div>
                <p class="mb-1">% Achievement : </p>
            </div>
        </div>
    
        <div class="stcard" style="background-color: #167aa5;">
            <div class="mb-3 fw-bold"><i class="fa fa-hand-o-right me-2" aria-hidden="true"></i>New Retailer On Board</div>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
            </div>
            <div>
                <div class="row">
                    <p class="col">Target : </p>
                    <p class="col">Actual : </p>
                </div>
                <p class="mb-1">% Achievement : </p>
            </div>
        </div>
    
        <div class="stcard" style="background-color: #73a516;">
            <div class="mb-3 fw-bold"><i class="fa fa-hand-o-right me-2" aria-hidden="true"></i>New Retailer Order Count</div>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
            </div>
            <div>
                <div class="row">
                    <p class="col">Target : </p>
                    <p class="col">Actual : </p>
                </div>
                <p class="mb-1">% Achievement : </p>
            </div>
        </div>
    
        <div class="stcard" style="background-color: #b00fc5;">
            <div class="mb-3 fw-bold"><i class="fa fa-hand-o-right me-2" aria-hidden="true"></i>Inactive to Active Count</div>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
            </div>
            <div>
                <div class="row">
                    <p class="col">Target : </p>
                    <p class="col">Actual : </p>
                </div>
                <p class="mb-1">% Achievement : </p>
            </div>
        </div>

        <div class="stcard" style="background-color: #309691;">
            <div class="mb-3 fw-bold"><i class="fa fa-hand-o-right me-2" aria-hidden="true"></i>Potential Retailer</div>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
            </div>
            <div>
                <div class="row">
                    <p class="col">Target : </p>
                    <p class="col">Actual : </p>
                </div>
                <p class="mb-1">% Achievement : </p>
            </div>
        </div>

        <div class="stcard" style="background-color: #c97515;">
            <div class="mb-3 fw-bold"><i class="fa fa-hand-o-right me-2" aria-hidden="true"></i>Lost Sale Retailer</div>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
            </div>
            <div>
                <div class="row">
                    <p class="col">Target : </p>
                    <p class="col">Actual : </p>
                </div>
                <p class="mb-1">% Achievement : </p>
            </div>
        </div>

        <div class="stcard" style="background-color: #752e1a;">
            <div class="mb-3 fw-bold"><i class="fa fa-hand-o-right me-2" aria-hidden="true"></i>A+ Category Retailer</div>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
            </div>
            <div>
                <div class="row">
                    <p class="col">Target : </p>
                    <p class="col">Actual : </p>
                </div>
                <p class="mb-1">% Achievement : </p>
            </div>
        </div>

        <div class="stcard" style="background-color:  #0ba1bf;">
            <div class="mb-3 fw-bold"><i class="fa fa-hand-o-right me-2" aria-hidden="true"></i>A Category Retailer</div>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
            </div>
            <div>
                <div class="row">
                    <p class="col">Target : </p>
                    <p class="col">Actual : </p>
                </div>
                <p class="mb-1">% Achievement : </p>
            </div>
        </div>

        <div class="stcard" style="background-color: #436f72;">
            <div class="mb-3 fw-bold"><i class="fa fa-hand-o-right me-2" aria-hidden="true"></i>B Category Retailer</div>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
            </div>
            <div>
                <div class="row">
                    <p class="col">Target : </p>
                    <p class="col">Actual : </p>
                </div>
                <p class="mb-1">% Achievement : </p>
            </div>
        </div>

        <div class="stcard" style="background-color: #71519e;">
            <div class="mb-3 fw-bold"><i class="fa fa-hand-o-right me-2" aria-hidden="true"></i>C Category Retailer</div>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
            </div>
            <div>
                <div class="row">
                    <p class="col">Target : </p>
                    <p class="col">Actual : </p>
                </div>
                <p class="mb-1">% Achievement : </p>
            </div>
        </div>

        <div class="stcard" style="background-color: #ab932a;">
            <div class="mb-3 fw-bold"><i class="fa fa-hand-o-right me-2" aria-hidden="true"></i>D Category Retailer</div>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
            </div>
            <div>
                <div class="row">
                    <p class="col">Target : </p>
                    <p class="col">Actual : </p>
                </div>
                <p class="mb-1">% Achievement : </p>
            </div>
        </div>

        <div class="stcard" style="background-color: #7a726f;">
            <div class="mb-3 fw-bold"><i class="fa fa-hand-o-right me-2" aria-hidden="true"></i>No Sale Retailer</div>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
            </div>
            <div>
                <div class="row">
                    <p class="col">Target : </p>
                    <p class="col">Actual : </p>
                </div>
                <p class="mb-1">% Achievement : </p>
            </div>
        </div>

        <div class="stcard" style="background-color: #0c631c;">
            <div class="mb-3 fw-bold"><i class="fa fa-hand-o-right me-2" aria-hidden="true"></i>Expected Monthly Sale</div>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
            </div>
            <div>
                <div class="row">
                    <p class="col">Target : </p>
                    <p class="col">Actual : </p>
                </div>
                <p class="mb-1">% Achievement : </p>
            </div>
        </div>
    </div>

</div>


