<!-- <p>gift-received-by-rm works!</p> -->

<div class="page-header">
    <h3 class="pageheader-title pageheader-color">Gift Received by RM</h3>    
</div>
<hr>

<form>
    <div class="row align-items-center g-3">
        <div class="col-auto">
            <div class="input-group">
                <div class="input-group-text">Start Date</div>
                <input type="date" class="form-control" id="inlineFormInputStartDate" name="StartDate" [(ngModel)]="StartDate" (change)="PopulateGrid()">
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group">
                <div class="input-group-text">End Date</div>
                <input type="date" class="form-control" id="inlineFormInputEndDate" name="EndDate" [(ngModel)]="EndDate" (change)="PopulateGrid()">
            </div>
        </div>   
        <div class="col-auto">
            <label for="inputAddNew"></label>
            <a type="button" class="btn btn-primary" id="inputAddNewStock" (click)="openGiftReceivedByRMEntryPopup()">Add New Entry</a>
        </div>
        <div class="col-auto">
            <label for="inputAddNew"></label>
            <a type="button" class="btn btn-info" id="inputViewCurStock" (click)="ViewCurStock()">View Current Stock</a>
        </div>
    </div>
</form>

<div class="table-responsive">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">RM Name</th>
        <th scope="col">Receive Date</th>
        <th scope="col">Quantity</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let giftRM of GiftReceivedByRMList | paginate: { itemsPerPage: 20, currentPage: page }">
        <td scope="col">{{giftRM.RMName}}</td>
        <td scope="col">{{giftRM.ReceiveDate | parseJsonDate}}</td>
        <td scope="col">{{giftRM.Quantity}}</td>
        <td scope="col"><i class="fa fa-trash text-blue icon-size" title="Delete" (click)="Delete(giftRM.RMReceiptID)" [hidden]="(giftRM.CreateDate  | parseJsonDate) != CurDate"></i></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>

<div class="modal" tabindex="-1" role="dialog" id="ModalGiftReceivedEntryForm" [ngStyle]="{'display':ModalGiftReceivedByRMEntry}">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <div class="col-md-10 text-center"><h4>Gift Received by RM - Entry</h4></div>
            <div class="col-md-2"><button type="button" class="btn-close" (click)="closeGiftReceivedByRMEntryPopup()"></button></div>
            </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">RM</label>
                <div class="col-sm-9">
                    <select class="form-control form-select input-control-color" [(ngModel)]="GiftReceivedByRM.RMID"><!-- [disabled]="HideRO"-->
                        <option value="">---Select---</option>
                        <option *ngFor="let ro of RevenueOfficerList" value="{{ro.MemberID}}">
                          {{ro.FirstName}}
                      </option> 
                  </select>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Receive Date</label>
                <div class="col-sm-9">
                    <input class="form-control input-control-color" type="date" [(ngModel)]="GiftReceivedByRM.ReceiveDate" [max]="getToday()" />
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Quantity</label>
                <div class="col-sm-9">
                    <input class="form-control input-control-color" type="number" [(ngModel)]="GiftReceivedByRM.Quantity" (keydown)="keyPressNumbers($event)" />
                </div>
            </div>
        <div class="col-sm-12 text-center">
            <button type="button" class="btn btn-info" (click)="Save()">Save</button>
        </div>

    </div>
    <!-- <div class="modal-footer"> 
        <div><span style="text-align:left">Modal Footer</span></div>
        <div><button type="button" class="btn btn-danger">Close</button>
        </div>
    </div> -->
    </div>
</div>
</div>
</div>


