<!-- <p>store-visit works!</p> -->

<div class="page-header">
    <div class="row">
        <div class="col-sm-6">
            <h3 class="pageheader-title pageheader-color">Store Visit Entry</h3> 
        </div>
        <div class="col-sm-6">
            <h5 id="lblForLocation"></h5> 
      </div>
  </div>  
</div>
<hr>
<form [formGroup]="StoreVisitForm" (ngSubmit)="Save()">

    <!-- <div class="alert alert-warning" role="alert" [hidden]="!(StoreVisitForm.controls['StoreVisitID'] == null && SaveStatus == 1)">
        <div class="row mb-3">
            <label for="exampleInputStorePic" class="col-sm-2 col-form-label text-primary">Take Store Picture Now!</label>
            <div class="col-sm-10">        
                <input type="file" class="form-control input-control-color" id="exampleInputStorePic" accept="image/*" capture="camera" (change)="CameraCaptureNEW($event)">
            </div> 
            <div id="dvuploadmsg"></div>        
        </div>    
    </div> -->


 
    <div id="VisitForm" [hidden]="StoreVisitForm.controls['StoreVisitID'] == null && SaveStatus == 1">
        <div class="row mb-3">
            <label for="exampleInputVisitDate" class="col-sm-2 col-form-label">Visit Date</label>
            <div class="col-sm-10">
                <input type="date" class="form-control input-control-color" id="exampleInputVisitDate" name="VisitDate" formControlName="VisitDate" [ngClass]="{ 'is-invalid': submitted && f.VisitDate.errors }" [max]="getToday()">
                <div *ngIf="submitted && f.VisitDate.errors" class="invalid-feedback">
                    <div *ngIf="f.VisitDate.errors.required">Visit Date is required</div>
                </div>
                <!-- <div class="form-text">We'll never share your email with anyone else.</div>  -->
            </div>      
        </div>

<!---Popup-->
<div class="row mb-3" *ngIf="!(Lead_ID>0)">
    <label for="exampleInputRevisit" class="col-sm-2 col-form-label">Visited Before?</label>
    <div class="col-sm-5">
        <div class="form-check form-switch">
        <input class="form-control form-check-input input-control-color" style="transform: scale(1.3); margin-right: 1rem;" type="checkbox" role="switch" id="VisitedBefore" ng-true-value="1" ng-false-value="0" name="VisitedBefore" formControlName="VisitedBefore" (change)="onChangeVisitedBefore()">
        <label class="form-check-label input-control-color" for="VisitedBefore" style="margin-right: 1rem;">
        {{StoreVisitForm.value.VisitedBefore == false ? 'No' : 'Yes'}}</label>
        <i class="fa fa-list" *ngIf="StoreVisitForm.controls['VisitedBefore'].value == '1'" aria-hidden="true" (click)="GetStorePreRecords()"></i>
      </div>

    </div>
    <!-- <div class="col-sm-2 icon-size" *ngIf="StoreVisitForm.controls['VisitedBefore'].value == '1'">


        </div> -->
</div>
<!---Popup-->


        <div class="row mb-3">
            <label for="exampleInputLocation" class="col-sm-2 col-form-label">Location<span class="text-red">*</span></label>
            <div class="col-sm-10">
                <input type="text" class="form-control input-control-color" id="exampleInputLocation" placeholder="Enter Location" [ngClass]="{ 'is-invalid': submitted && f.Location.errors }" name="Location" formControlName="Location">
                <div *ngIf="submitted && f.Location.errors">
                    <div class="form-text" *ngIf="f.Location.errors.required">Location is required</div>  
                </div>
            </div>
        </div> 
        <div class="row mb-3">
            <label for="exampleInputDistrict" class="col-sm-2 col-form-label">District<span class="text-red">*</span></label>
            <div class="col-sm-10">
                <select class="form-control form-select input-control-color" id="exampleInputDistrict" [ngClass]="{ 'is-invalid': submitted && f.District.errors }" name="District" formControlName="District">
                 <option value="">---Select---</option>
                 <option *ngFor="let dst of DistrictList" value="{{dst.DistrictID}}">
                  {{dst.District}}
              </option> 
          </select>
          <div *ngIf="submitted && f.District.errors">
            <div class="form-text" *ngIf="f.District.errors.required">District is required</div>  
        </div>
    </div>
</div>    
<!-- <div class="row mb-3">
    <label for="exampleInputPinCode" class="col-sm-2 col-form-label">Pin Code</label>
    <div class="col-sm-10">
        <input type="text" class="form-control input-control-color" id="exampleInputPinCode" placeholder="Enter Pin Code"  name="PinCode" formControlName="PinCode" minlength="6">
        <div *ngIf="submitted && f.PinCode.errors">

                <div class="form-text" *ngIf="StoreVisitForm.get('PinCode').hasError('minlength')">Invalid Pin Code</div> 
            </div>
        </div>
    </div> -->
    <div class="row mb-3">
        <label for="exampleInputPinCode" class="col-sm-2 col-form-label">Pin Code<span class="text-red">*</span></label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-control-color" id="exampleInputPinCode" placeholder="Enter Pin Code" [ngClass]="{ 'is-invalid': submitted && f.PinCode.errors }"  name="PinCode" formControlName="PinCode" >
            <div *ngIf="submitted && f.PinCode.errors">
                <div class="form-text" *ngIf="f.PinCode.errors.required">Pin Code is required</div>
                    <!-- minlength="6" -->
                    <!-- <div class="form-text" *ngIf="StoreVisitForm.get('PinCode').hasError('minlength')">Invalid Pin Code</div> -->
                </div>
            </div>
        </div>
    <div class="row mb-3">
        <label for="exampleInputStoreName" class="col-sm-2 col-form-label">Store Name<span class="text-red">*</span></label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-control-color" id="exampleIn?putStoreName" placeholder="Enter Store Name" [ngClass]="{ 'is-invalid': submitted && f.StoreName.errors }" name="StoreName" formControlName="StoreName">
            <div *ngIf="submitted && f.StoreName.errors">
                <div class="form-text" *ngIf="f.StoreName.errors.required">Store Name is required</div>  
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="exampleInputStoreOpeningTime" class="col-sm-2 col-form-label">Store Opening Time</label>
        <div class="col-sm-10">
            <input type="time" class="form-control input-control-color" id="exampleInputStoreOpeningTime" name="StoreOpeningTime" formControlName="StoreOpeningTime">
        <!-- <div *ngIf="submitted && f.StoreOpeningTime.errors">[ngClass]="{ 'is-invalid': submitted && f.StoreOpeningTime.errors }"
            <div class="form-text" *ngIf="f.StoreOpeningTime.errors.required">Store Opening Time is required</div>  
        </div> -->
    </div>
</div>
<div class="row mb-3">
    <label for="exampleInputStoreClosingTime" class="col-sm-2 col-form-label">Store Closing Time</label>
    <div class="col-sm-10">
        <input type="time" class="form-control input-control-color" id="exampleInputStoreClosingTime" name="StoreClosingTime" formControlName="StoreClosingTime">
        <!-- <div *ngIf="submitted && f.StoreClosingTime.errors">[ngClass]="{ 'is-invalid': submitted && f.StoreClosingTime.errors }"
            <div class="form-text" *ngIf="f.StoreClosingTime.errors.required">Store Closing Time is required</div>  
        </div> -->
    </div>
</div>
<div class="row mb-3">
    <label for="exampleInputAfternoonClosingTime" class="col-sm-2 col-form-label">Afternoon Closing Time</label>
    <div class="col-sm-10">
        <input type="time" class="form-control input-control-color" id="exampleInputAfternoonClosingTime" name="AfternoonClosingTime" formControlName="AfternoonClosingTime">
    </div>
</div>
<div class="row mb-3">
    <label for="exampleInputAfternoonOpeningTime" class="col-sm-2 col-form-label">Afternoon Opening Time</label>
    <div class="col-sm-10">
        <input type="time" class="form-control input-control-color" id="exampleInputAfternoonOpeningTime" name="AfternoonOpeningTime" formControlName="AfternoonOpeningTime">
    </div>
</div>
<div class="row mb-3">
    <label for="exampleInputStoreClosedOn" class="col-sm-2 col-form-label">Store Closed On<span class="text-red">*</span></label>
    <div class="col-sm-10">
        <input type="text" class="form-control input-control-color" id="exampleInputStoreClosedOn" placeholder="Enter Store Closed On" [ngClass]="{ 'is-invalid': submitted && f.StoreClosedOn.errors }" name="StoreClosedOn" formControlName="StoreClosedOn">
        <div *ngIf="submitted && f.StoreClosedOn.errors">
            <div class="form-text" *ngIf="f.StoreClosedOn.errors.required">Store Closed On is required</div>  
        </div>
    </div>
</div>

<div class="row mb-3">
    <label for="exampleInputChainStore" class="col-sm-2 col-form-label">Chain Store?</label>
    <!-- <span class="text-red">*</span> -->
    <div class="col-sm-10">
        <div class="form-check form-switch">
            <input class="form-control form-check-input input-control-color" style="transform: scale(1.3); margin-right: 1rem;" type="checkbox" role="switch" id="IsChainStore" ng-true-value="1" ng-false-value="0" name="IsChainStore" formControlName="IsChainStore" (change)="onChangeChainStore($event)">
            <label class="form-check-label input-control-color" for="VisitedBefore" style="margin-right: 1rem;">
            {{StoreVisitForm.value.IsChainStore == false ? 'No' : 'Yes'}}</label>     
        </div>
    </div>
</div>

<span *ngIf="StoreVisitForm.value.IsChainStore">
    <div class="row mb-3">
        <label for="exampleInputNumofStore" class="col-sm-2 col-form-label">No. of Stores</label>
        <div class="col-sm-10">
            <div class="input-group">
                <input type="text" class="form-control input-control-color" id="exampleIn?putStoreName" placeholder="Enter No. of Stores" name="NoOfStores" formControlName="NoOfStores">
            </div>               
        </div>
    </div>
    <div class="row mb-3">
        <label for="exampleInputMappedChainStore" class="col-sm-2 col-form-label">Mapped Chain Store</label>
        <div class="col-sm-10">
            <div class="input-group">
                <input type="text" class="form-control input-control-color" id="exampleInputMappedChainStoreName" name="MappedChainStoreName" formControlName="MappedChainStoreName" readonly>
                <span class="btn btn-outline-primary" (click)="showStoreVisitModal()">Select</span>
            </div>
        </div>
    </div>
</span>
<div class="row mb-3">
    <label for="exampleInputTypeofCustomer" class="col-sm-2 col-form-label">Type of Customer<span class="text-red">*</span></label>
    <div class="col-sm-10">
        <select class="form-control form-select input-control-color" id="exampleInputShortRemark" [ngClass]="{ 'is-invalid': submitted && f.TypeOfCustomer.errors }" name="TypeOfCustomer" formControlName="TypeOfCustomer">
            <option value="">---Select---</option>
            <option value="Retailer">Retailer</option>
            <option value="Distributor">Distributor</option>
            <option value="Sub distributor">Sub distributor</option>
        </select>
        <div *ngIf="submitted && f.TypeOfCustomer.errors">
            <div class="form-text" *ngIf="f.TypeOfCustomer.errors.required">Type Of Customer is required</div>  
        </div>
    </div>
</div>
<div class="row mb-3">
    <label for="exampleInputDailyAveragePurchaseVolume" class="col-sm-2 col-form-label">Daily Average Purchase Volume</label>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" id="File" class="form-control input-control-color" id="exampleInputBanner" placeholder="Enter Daily Average Purchase Volume" name="DailyAveragePurchase" formControlName="DailyAveragePurchase">
            <select class="form-control form-select input-control-color" id="exampleInputDailyPurchaseUnit" name="DailyPurchaseUnit" formControlName="DailyPurchaseUnit">
                <option value="thousand">thousand</option>
                <option value="lakh">lakh</option>
            </select>
        </div>
    </div>
</div>
<div class="row mb-3">
    <label for="exampleInputExistingPurchaseDiscount" class="col-sm-2 col-form-label">Existing Purchase Discount</label>
    <div class="col-sm-10">
        <div class="input-group">
                <input type="text" id="File" class="form-control input-control-color" id="exampleInputBanner" placeholder="Enter Existing Purchase Discount" name="ExistingPurchaseDiscount" formControlName="ExistingPurchaseDiscount">
                <span class="input-group-text">%</span>              
            </div>
    </div>
</div>

<div class="row mb-3">
    <label for="exampleInputContactPerson" class="col-sm-2 col-form-label">Contact Person</label>
    <div class="col-sm-10">
        <input type="text" class="form-control input-control-color" id="exampleInputContactPerson" placeholder="Enter Contact Person" name="ContactPerson" formControlName="ContactPerson">
        <!-- <div *ngIf="submitted && f.ContactPerson.errors">[ngClass]="{ 'is-invalid': submitted && f.ContactPerson.errors }"
            <div class="form-text" *ngIf="f.ContactPerson.errors.required">Contact Person is required</div> 
        </div> -->
    </div>
</div>
<div class="row mb-3">
    <label for="exampleInputContactNo" class="col-sm-2 col-form-label">Contact No.</label>
    <div class="col-sm-10">
        <input type="text" class="form-control input-control-color" id="exampleInputContactNo" placeholder="Enter Contact No." name="ContactNo" formControlName="ContactNo">
        <!-- <div *ngIf="submitted && f.ContactNo.errors">[ngClass]="{ 'is-invalid': submitted && f.ContactNo.errors }"
            <div class="form-text" *ngIf="f.ContactNo.errors.required">Contact No is required</div>  
        </div> -->
    </div>
</div>
<div class="row mb-3">
    <label for="exampleInputShortRemark" class="col-sm-2 col-form-label">Short Remark<span class="text-red">*</span></label>
    <div class="col-sm-10">
        <select class="form-control form-select input-control-color" id="exampleInputShortRemark" [ngClass]="{ 'is-invalid': submitted && f.ShortRemark.errors }" name="ShortRemark" formControlName="ShortRemark">
        	<option value="">---Select---</option>
        	<!-- <option value="Increased CD">Increased CD</option> -->
            <option value="COD">COD</option>
            <option value="Prepaid">Prepaid</option>
            <option value="More Discount">More Discount</option>
            <option value="Need Credit">Need Credit</option>
            <option value="More Discount & Credit Both">More Discount & Credit Both</option>
            <option value="Not Interested">Not Interested</option>
            <option value="ON BOARD">ON BOARD</option>
            <option value="Same Day Delivery">Same Day Delivery</option>            
            <option value="Already ON BOARD">Already ON BOARD(Exisiting)</option>
            <option value="Owner Not Present">Owner Not Present</option>
            <option value="Activation Done">Activation Done</option>
        </select>
        <div *ngIf="submitted && f.ShortRemark.errors">
            <div class="form-text" *ngIf="f.ShortRemark.errors.required">Short Remark is required</div>  
        </div>
    </div>
</div>
<div class="row mb-3">
    <label for="exampleInputRevisit" class="col-sm-2 col-form-label">Revisit</label>
    <div class="col-sm-10">
        <select class="form-control form-select input-control-color" id="exampleInputRevisit" name="Revisit" formControlName="Revisit" (change)="onChangeRevisit()">
            <option value="">---Select---</option>
            <option value="Revisit - Not installed">Revisit - Not installed</option>
            <option value="Revisit - Installed">Revisit - Installed</option>
        </select>
    </div>
</div>
<div class="row mb-3" *ngIf="StoreVisitForm.controls['Revisit'].value == 'Revisit - Not installed' || StoreVisitForm.controls['Revisit'].value == 'Revisit - Installed' ">
    <label for="exampleInputRevisitDate" class="col-sm-2 col-form-label">Revisit Date</label>
    <div class="col-sm-10">
        <input type="date" class="form-control input-control-color" id="exampleInputRevisitDate" name="RevisitDate" formControlName="RevisitDate" (change)="onChangeRevisitDate()">
    </div>
</div>
<div class="row mb-3">
    <label for="exampleInputDetailRemark" class="col-sm-2 col-form-label">Detail Remark</label>
    <div class="col-sm-10">
        <textarea type="text" class="form-control input-control-color" id="exampleInputDetailRemark" placeholder="Enter Detail Remark" name="DetailRemark" formControlName="DetailRemark" rows="4"></textarea>
    </div>
</div>
<div class="row mb-3">
    <label for="exampleInputFeedback" class="col-sm-2 col-form-label">Feedback</label>
    <div class="col-sm-10">
        <textarea type="text" class="form-control input-control-color" id="exampleInputFeedback" placeholder="Enter Feedback" name="Feedback" formControlName="Feedback" rows="4"></textarea>        
    </div>                        
</div>
<div class="text-center">
  <button type="submit" class="btn btn-primary"  *ngIf="showHideSubmitBtn">Submit</button> <!--[disabled]="disableSaveBtn"-->
  <!-- <br /><label id="lblForLocation"></label> -->
</div>
</div>
 
</form>

<ng-container *ngIf="SaveStatus == 1">
    <div class="row">
        <ng-container *ngIf="isloading">
            <div class="loadardiv">
                <button class="btn btn-primary" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    ** Uploading Store Image...
                </button>
            </div>
        </ng-container>
        <ng-container *ngIf="!isloading">
            <div class="col-md-4">
                <ng-container *ngIf="!imgLoading">
                    <div class="imageCont">
                        <img [src]="imageSrc" *ngIf="imageSrc">
                        <i class="fa fa-camera" aria-hidden="true" *ngIf="!imageSrc"></i>
                    </div>
                </ng-container>
                <ng-container *ngIf="imgLoading">
                    <div class="spinerCont">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <input id="file" type="file" accept="image/*" capture="camera" class="form-control"
                        (change)="StoreImageUpload($event)">
                </div>
                <ng-container *ngIf="imageSrc && (aftercomprssedImg != 'undefine')">
                    <div class="mt-4">
                        <button class="btn btn-primary mt-3 p-2" (click)="uploadImage()" >Upload Store Image</button>
                    </div>
    
                </ng-container>
            </div>
        </ng-container>

    </div> 
</ng-container>

<!-- <div class="alert alert-warning" role="alert" *ngIf="StoreVisitForm.controls['StoreVisitID'] == null && SaveStatus == 1">
    <div class="row mb-3">
        <label for="exampleInputStorePic" class="col-sm-2 col-form-label text-primary">Take Store Picture Now!</label>
        <div class="col-sm-10">        
            <input type="file" class="form-control input-control-color" id="exampleInputStorePic" accept="image/*" capture="camera" (change)="CameraCapture($event)">
        </div>  
        <span class="alert-link">{{LoadingText}}<BR>
        <a href= "Home/StoreVisitList" *ngIf="imgResultAfterCompress!=undefined && imgResultAfterCompress!=null && imgResultAfterCompress!=''">Goto Visit List</a> </span>                       
        <img *ngIf="imgResultAfterCompress!=undefined && imgResultAfterCompress!=null && imgResultAfterCompress!=''" [src]="imgResultAfterCompress" alt="" id='PreviewPic' class="img-fluid img-thumbnail"/>

        
    </div>
    
</div> -->
 <!-- {{SaveStatus}}
<div class="alert alert-warning" role="alert" [hidden]="!(StoreVisitForm.controls['StoreVisitID'] == null && SaveStatus == 1)">
    <div class="row mb-3">
        <label for="exampleInputStorePic" class="col-sm-2 col-form-label text-primary">Take Store Picture Now!</label>
        <div class="col-sm-10">        
            <input type="file" class="form-control input-control-color" id="exampleInputStorePic" accept="image/*" capture="camera" (change)="CameraCaptureNEW($event)">
        </div> 
        <div id="dvuploadmsg"></div>        
    </div>    
</div> -->


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':myPopup}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-10 text-center">
                    <h4>{{HeadingText}}</h4>
                </div>
                <div class="col-md-2" style="text-align: right;"><button type="button" class="btn-close"
                        (click)="closePopup()"></button></div>
                <!-- <br> -->

            </div>
            <div style="padding: 10px 10px 0px 10px;">
                <div class="input-group">
                    <div class="input-group-text"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" id="inlineFormInputSearch" name="Search"
                        [(ngModel)]="Search" (keyup)="VisitedStoreMaster_SelectAll()">
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12" style='overflow:auto;'>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Select</th>
                                    <th scope="col">Store Name</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">PinCode</th>
                                    <th scope="col">District</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let VSM of VisitedStoreMasterSelectAll;">
                                    <td scope="col"><input type="radio" id="vehicle1" name="vehicle1" value=""
                                      (click)="GetSelectedItem(VSM.StoreName,VSM.Location,VSM.PinCode)"></td>
                                    <td scope="col">{{VSM.StoreName}}</td>
                                    <td scope="col">{{VSM.Location}}</td>
                                    <td scope="col">{{VSM.PinCode}}</td>
                                    <td scope="col">{{VSM.DistrictName}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!----Map Chain Stores Modal---->
<div class="modal" tabindex="-1" role="dialog" id="MapChainStoresModal" [ngStyle]="{'display':showChainStorePopup}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-10 text-center">
                    <h4>{{HeadingText}}</h4>
                </div>
                <div class="col-md-2" style="text-align: right;"><button type="button" class="btn-close" (click)="closeChainStorePopup()"></button></div>
            </div>
            <div style="padding: 10px 10px 0px 10px;">
                <div class="input-group">
                    <div class="input-group-text"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" id="inlineFormInputSearch" name="Search" [(ngModel)]="Search" (keyup)="VisitedStoreMaster_SelectAll()">
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12" style='overflow:auto;'>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Select</th>
                                    <th scope="col">Store Name</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">PinCode</th>
                                    <th scope="col">District</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let VSM of VisitedStoreMasterSelectAll;">
                                    <td scope="col"><input type="radio" id="vehicle1" name="vehicle1" value=""
                                      (click)="GetSelectedChainStore(VSM.StoreVisitMasterID, VSM.StoreName)"></td>
                                    <td scope="col">{{VSM.StoreName}}</td>
                                    <td scope="col">{{VSM.Location}}</td>
                                    <td scope="col">{{VSM.PinCode}}</td>
                                    <td scope="col">{{VSM.DistrictName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
